{% capture locale %}{{ page.url | truncate: 3, "" | replace: "/", "" }}{% endcapture %}
{% if locale == "" or site.locales[locale] == null %}{% assign locale = site.default-locale %}{% endif %}

<nav class="navbar-rbcf" role="navigation">
	<a href="/{{ locale }}/index.html"><img id="header-img" src="/resources/img/roboconf.png" alt="Roboconf" /></a>

	<form class="navbar-form navbar-right" role="search">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="{{ site.locales[locale].menu-search }}">
		</div>
		<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
	</form>	
			
	<ul class="nav navbar-nav navbar-right" id="top-menu">
		<li><a href="/{{ locale }}/{{ site.locales[locale].news }}.html" class="{% if page.menu == "project" %}ep-selected{% else %}ep{% endif %}">
			<span class="glyphicon glyphicon-flash"></span> {{ site.locales[locale].menu-project }}
		</a></li>
	
		<li><a href="/{{ locale }}/{{ site.locales[locale].download }}.html" class="{% if page.menu == "users" %}ep-selected{% else %}ep{% endif %}">
			<span class="glyphicon glyphicon-user"></span> {{ site.locales[locale].menu-users }}
		</a></li>
		
		<li><a href="/{{ locale }}/{{ site.locales[locale].sources }}.html" class="{% if page.menu == "developers" %}ep-selected{% else %}ep{% endif %}">
			<span class="glyphicon glyphicon-wrench"></span> {{ site.locales[locale].menu-developers }}
		</a></li>
		
		<li class="dropdown">
			<a class="dropdown-toggle ep" data-toggle="dropdown" href="#">
				<span class="glyphicon glyphicon-globe"></span> {{ site.locales[locale].menu-lang }} 
				<span class="glyphicon glyphicon-chevron-down little"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="/en/{{ site.locales['en'][page.id] }}.html"><img src="/resources/img/gb.png" alt="English" class="flag" /> English</a></li>
				<li><a href="/fr/{{ site.locales['fr'][page.id] }}.html"><img src="/resources/img/fr.png" alt="Français" class="flag" /> Français</a></li>
			</ul>
		</li>
	</ul>
	
	<p style="clear: both; display: inline;"></p>
</nav>
