
<ul>
	<li{% if page.menus[1] == "sources" %} class="active"{% endif %}>
		<a href="/{{ include.locale }}/{{ site.data['main']['sources'][include.locale] }}.html">
		{{ site.locales[locale].s-menu-source-code }}</a>
	</li>

	<li{% if page.menus[1] == "developer-guide" %} class="active"{% endif %}>
		<a href="/{{ include.locale }}/{{ site.data['main']['dev-guide'][include.locale] }}.html">
		{{ site.locales[locale].s-menu-dev-guide }}</a>
	</li>

	<li{% if page.menus[1] == "team" %} class="active"{% endif %}>
		<a href="/{{ include.locale }}/{{ site.data['main']['team'][include.locale] }}.html">
		{{ site.locales[locale].s-menu-team }}</a>
	</li>

	<li{% if page.menus[1] == "graphics" %} class="active"{% endif %}>
		<a href="/{{ include.locale }}/{{ site.data['main']['graphics'][include.locale] }}.html">
		{{ site.locales[locale].s-menu-graphics }}</a>
	</li>
</ul>
