
<section>
	<h1>Project</h1>
</section>

<section>
	<img src="../../resources/img/roboconf.jpg" alt="logo" />
	<br />
	<ul>
		<li>Launched in 2013</li>
		<li>Open source (Apache v2)</li>
		<li>Hosted on GitHub</li>
	</ul>
	<p class="clear"></p>
	<p>
		Roboconf is based on a prototype developed by Université Joseph
		Fourier (Grenoble, France). It is now being industrialized by
		Linagora, a French Software company.
	</p>
</section>

<section>
	<h3>In Few Words</h3>
	<p>
		Roboconf is a solution based on asynchronous exchanges to deploy
		and reconfigure distributed applications.
	</p>
	<p>
		It translates concepts from component models (like OSGi) to
		Software deployment and management.
	</p>
</section>

<section>
	<h3>Target Users</h3>
	<p>
		Roboconf is intended for project teams with requirements about
		dynamic deployments and where scalability matters.
	</p>
	<p>
		The ideal user profile is a <strong>DevOp</strong>.<br /> Someone
		involved in the project development but with a focus on production
		issues.
	</p>
</section>

<section>
	<h3>Roboconf Features - 1/2</h3>
	<br />
	
	<h3>Deployment</h3>
	<p>Installs and configures Software applications.</p>

	<h3>Deployment Targets</h3>
	<p>
		Allows deployment over various targets: cloud infrastructures
		(IaaS), devices, on-premise hosts... Hybrid deployments are supported.
	</p>
</section>

<section>
	<h3>Roboconf Features - 2/2</h3>
	<br />
	
	<h3>Reconfiguration</h3>
	<p>
		Application parts notify each others, which allow them to
		reconfigure themselves through scripts. Roboconf handles applications
		life cycle.
	</p>

	<h3>Monitoring</h3>
	<p>Monitoring support is in progress.</p>
</section>

<section>
	<h3>Covered Use Cases</h3>
	<ul>
		<li>Cloud deployment</li>
		<li>Hybrid deployments</li>
		<li>Highly dynamic environments<br /> (with lots of reconfiguration)</li>
	</ul>

	<br /><br />
	<p>
		Roboconf can deploy any kind of Software.<br /> It suits well for
		distributed applications. There is no constraint on languages or
		frameworks. If you can script it, you can make it automatic with
		Roboconf.
	</p>
	<p>Large-scale deployments are not well covered (yet).</p>
</section>

<section>
	<h3>Roboconf does not...</h3>
	<p>
		... reinvent the wheel.<br /> Thanks to a plug-in approach, it is
		possible to use Bash scripts and Puppet modules. You could also use
		other solutions like Chef or CFegine, provided you write a plug-in for
		this.
	</p>
	<p>
		Life cycle steps can thus be handled through robust solutions.<br />
		Roboconf only plugs dynamics behind them.
	</p>
</section>
