
<section>
	<h1>Industrial Use Case</h1>
</section>

<section>
	<h2>Open PaaS</h2>
	<p>
		Open PaaS is an open source PaaS (Platform as a Service) that aims
		at improving collaboration within and between organizations.
		It joins the ESN trend (<strong>Enterprise Social Network</strong>).
	</p>
	<p>
		It covers the creation of communities around professional
		topics or projects, live messaging, email, agendas, document sharing and so on.
		All of this is structured around the notion of professional communities.
	</p>
	<p>
		http://open-paas.org
	</p>
</section>

<section>
	<h2>Current Architecture</h2>
	
</section>

<section>
	<h2>Scalable Parts</h2>
	<p>
	
	</p>
</section>

<section>
	<h2>Planned Upgrade</h2>
	<p>
		
	</p>
</section>
