
<section>
	<h1>Tools</h1>
</section>

<section>
	<h3>Tooling</h3>
	<p>
		Beyond the way Roboconf is implemented, some choices
		have been made to make things simple. The syntax of 
		configuration files was chosen in this sense.
	</p>
	<p>
		However, tools are always helpful.<br />
		They help new users, and more generally, they make gain a lot of time.
	</p>
	<img src="../../resources/img/roboconf-tools.jpg" alt="Roboconf tools" />
</section>

<section>
	<h3>The Web Administration - 1/2</h3>
	<p>
		The web administration is web application (AngularJS)
		that provides a user interface for the DM's REST API.
	</p>
	<img src="../../resources/img/roboconf--web-administration--new-application.jpg" alt="List of applications" class="no-border" />
</section>

<section>
	<h3>The Web Administration - 2/2</h3>
	<p>
		This console helps to perform actions and watch the application parts.
	</p>
	<img src="../../resources/img/roboconf--web-administration--child-instance-is-started.jpg" alt="Roboconf tools" class="no-border" />
</section>

<section>
	<h3>Maven Plug-in</h3>
	<p>
		Roboconf has its own Maven plug-in.<br />
		It helps to...
	</p>
	<ul>
		<li>... validate the configuration files (graph, instances)...</li>
		<li>... package the project in a deployable archive...</li>
		<li>... insert Maven properties in configuration files.</li>
	</ul>

	<br /><br />
	<p>
		Ongoing work will allow testing and sharing reusable recipes.<br />
		Other tools will come later.
	</p>
</section>

<section>
	<h3>Eclipse Plug-in</h3>
	<p>
		Roboconf has also its own Eclipse plug-in.<br />
		It provides a creation wizard for new projects, and dedicated editors.
	</p>

	<img src="../../resources/img/eclipse-editor.jpg" alt="Eclipse editors" class="no-border" />
</section>
