
<section>
	<h1>Le Projet</h1>
</section>

<section>
	<img src="../../resources/img/roboconf.jpg" alt="logo" />
	<br />
	<ul>
		<li>Lancé 2013</li>
		<li>Open source (Apache v2)</li>
		<li>Hébergé sur GitHub</li>
	</ul>
	<p class="clear"></p>
	<p>
		Roboconf est basé sur un prototype développé par <a href="https://www.ujf-grenoble.fr/">l'Université Joseph
		Fourier</a> à Grenoble (France). Le projet est en cours d'industrialisation par
		<a href="http://linagora.com">Linagora</a>, un éditeur logiciel français spécialisé dans l'open source.
	</p>
</section>

<section>
	<h3>En Quelques Mots</h3>
	<p>
		Roboconf est une solution basée sur une messagerie asynchrone pour gérer
		le déploiement et la reconfiguration d'applications réparties.
	</p>
	<p>
		Il transpose des concepts de modèles à composant (tels qu'OSGi) au déploiement
		et à la gestion de piles logicielles.
	</p>
</section>

<section>
	<h3>Utilisateurs Ciblés</h3>
	<p>
		Roboconf adresse des déploiements où la notion d'élasticité est centrale.
	</p>
	<p>
		Le profil type d'un utilisateur de Roboconf est ce que l'on appelle
		un <strong>DevOps</strong>, c'est-à-dire quelqu'un à cheval entre le développement
		et des problématiques de production.
	</p>
</section>

<section>
	<h3>Fonctionnalités - 1/2</h3>
	<br />
	
	<h3>Déploiement</h3>
	<p>Installation et configuration d'applications.</p>

	<h3>Cibles de Déploiement</h3>
	<p>
		Déploiement sur de multiples cibles : infrastructures de cloud (IaaS),
		objets embarqués, serveurs plus classiques, etc. Les déploiements hybrides sont également supportés.
	</p>
</section>

<section>
	<h3>Fonctionnalités - 2/2</h3>
	<br />
	
	<h3>Reconfiguration</h3>
	<p>
		Grâce à Roboconf, des portions d'application répartie peuvent se notifier
		les unes les autres et se reconfigurer en conséquence au travers de scripts.
		Roboconf prend en charge tous les aspects du cycle de vie.
	</p>

	<h3>Supervision</h3>
	<p>La gestion de la supervision est en cours d'implémentation.</p>
</section>

<section>
	<h3>Cas d'Usage Couverts</h3>
	<ul>
		<li>Déploiement dans le Cloud</li>
		<li>Déploiements hybrides</li>
		<li>Environnements fortement dynamiques</li>
	</ul>

	<br /><br />
	<p>
		Roboconf peut déployer n'importe quel type d'application.<br />
		Il est bien adapté aux applications réparties. Il n'y a pas de contrainte
		sur les langages ou les frameworks utilisés par ces applications. Du moment qu'un
		déploiement ou une reconfiguration peut être scripté, Roboconf peut l'automatiser.
	</p>
	<p>Les déploiements à grande échelle sont encore mal couverts.</p>
</section>

<section>
	<h3>Roboconf...</h3>
	<p>
		... <strong>ne réinvente pas la roue</strong>. <br />Grâce à une approche à base de plug-ins,
		il est possible d'utiliser Bash ou Puppet. D'autres solutions sont envisageables,
		telles que Chef ou CFEngine. Il n'existe pas encore de plug-in pour ces solutions,
		mais leur écriture est à la portée de n'importe quel développeur Java.
	</p>
	<p>
		C'est à travers de ces extensions que Roboconf gère les changements au niveau
		du cycle de vie d'une application. La vraie plus-value de Roboconf réside dans la
		dynamicité qu'il ajoute derrière ces plug-ins.
	</p>
</section>
