
<section>
	<h1>Architecture</h1>
</section>

<section>
	<img src="../../resources/img/roboconf-architecture.jpg" alt="Architecture Diagram" class="no-border" />
	<br />
	<p>
		Roboconf relies on 3 elements: the DM, agents and a messaging server (RabbitMQ).<br />
		VM designate Virtual Machines or any kind of machine (server, device...).
	</p>
</section>

<section>
	<h2>The DM</h2>
	<p>
		The Deployment Manager (DM) is the application in charge of
		driving deployments. It is the interface through which one can
		pass requests (deploy this, start that...).
	</p>
	<p>
		It provides a set of REST services.<br />
		It is generally packaged with a web application (roboconf-web-administration)
		that acts as a user-friendly front-end for the REST API.
	</p>
	<div>
		Depending on the invoked REST operation, the DM will either...
	</div>
	<ul>
		<li>... interact with a IaaS manager to create or destroy VM.</li>
		<li>... communicate with Roboconf agents through a messaging server.</li>
	</ul>
</section>

<section>
	<h2>The Agents</h2>
	<p>
		Every machine on which Roboconf must deploy or manage something must have an agent installed.
		This agent is in charge of listening...
	</p>
	<ul>
		<li>... instructions from the DM.</li>
		<li>... notifications from other agents.</li>
	</ul>
	
	<br /><br />
	<p>
		Depending on what it receives, an agent will execute recipes.<br />
		Recipes are associated with plug-ins (Puppet, Bash...). This results in a change,
		either in the life cycle or in the configuration files of an application.
	</p>
	<p>
		There is one agent per machine.<br />
		But it can install and manage several elements on it. Installed applications are not
		aware of Roboconf (=> middleware).
	</p>
</section>

<section>
	<h2>The Messaging Server</h2>
	<p>
		The messaging server is the medium used to exchange information between...
	</p>
	<ul>
		<li>...  the DM and agents.</li>
		<li>...  an agent and other agents.</li>
	</ul>
	
	<br /><br />
	<p>
		The current messaging server is RabbitMQ.<br />
		It is a robust, open source, message broker that implements AMQP and that supports clustering.
	</p>
</section>

<section>
	<h2>Tips about the DM</h2>
	<p>
		The DM can be deployed anywhere.<br />
		The good practice is generally to run it locally (in the information system)
		rather than putting it on a public server. This way, it skips a lot of work to
		secure it.
	</p>
	<p>
		The DM was designed to be started when it is required.<br />
		It means you can stop it when you do not use it. Its state is persisted in consequence on a file system.
		It also makes procedures quite simple to restore it after a crash.
	</p>
</section>

<section>
	<h2>Tips about RabbitMQ</h2>
	<p>
		The messaging server is the key point so that everything works.<br />
		It must be reachable from the DM and all the agents. A public location is thus required.
	</p>
	<p>
		Roboconf uses authentication mechanisms provided by RabbitMQ to secure access
		to the messaging server. 
	</p>
</section>

<section>
	<h2>Tips about Agents</h2>
	<p>
		The most convenient use case with Roboconf is when VM are created
		in a cloud infrastructure (IaaS). The DM creates them from the IaaS image catalog. So, to have
		an agent installed and configured on every machine, a virtual appliance has to be
		created and stored in the image catalog. 
	</p>
	<p>
		For other kind of hosts, one has to use other solutions to install and configure agents.
		<br />Solutions like Puppet, or scripts that do SSH are suitable. 
	</p>
	<p>
		Most of the information an agent needs is supplied by the DM at runtime.<br />
		This keep their configuration minimal.
	</p>
</section>

<section>
	<h2>Multi-IaaS</h2>
	<p>
		Multi-target and hybrid deployments are supported.<br />
		This can be used for critical periods (load increase) or for migration purpose.
		It can also serve strategic objectives (like data security and privacy issues).  
	</p>
	<p>
		The next slide illustrates this with <strong>some</strong> cloud infrastructures.<br />
		It only shows interaction between Roboconf parts, and not between the parts of
		the applications that Roboconf deploys.
	</p>
</section>

<section>
	<img src="../../resources/img/roboconf-architecture-example.jpg" alt="Sample Architecture Diagram" class="no-border" />
</section>
