
<section>
	<h1 class="rbcf-transition-slide">Outils</h1>
</section>

<section>
	<h3>Outillage</h3>
	<p>
		Roboconf a été pensé pour être aussi simple que possible à l'utilisation. Cette question
		de la simplicité se retrouve dans la syntaxe des fichiers de configuration.
	</p>
	<p>
		En dépit de cette simplicité, des outils sont toujours un complément agréable pour des utilisateurs.
	</p>
	<img src="../../resources/img/roboconf-tools.jpg" alt="Roboconf tools" />
</section>

<section>
	<h3>L'Administration Web - 1/2</h3>
	<p>
		L'administration web est, comme son nom l'indique, une application web (AngularJS)
		qui fournit une interface graphique pour l'API REST du DM.
	</p>
	<img src="../../resources/img/roboconf--web-administration--new-application.jpg" alt="List of applications" class="no-border" />
</section>

<section>
	<h3>L'Administration Web - 2/2</h3>
	<p>
		Cette console permet de donner des ordres aux agents Roboconf et d'avoir une vue
		globale des différentes parties applicatives.
	</p>
	<img src="../../resources/img/roboconf--web-administration--child-instance-is-started.jpg" alt="Roboconf tools" class="no-border" />
</section>

<section>
	<h3>Plug-in Maven</h3>
	<p>
		Roboconf possède son propre plug-in Maven.<br />
		Il permet...
	</p>
	<ul>
		<li>... de valider ses fichiers de configuration (graphe, instances)...</li>
		<li>... de conditionner son projet sous la forme d'une archive déployable...</li>
		<li>... d'insérer des propriétés Maven dans ses fichiers de configuration.</li>
	</ul>

	<br /><br />
	<p>
		Des travaux sont en cours pour faciliter les tests et la réutilisation de recettes.
		D'autres outils devraient suivre.
	</p>
</section>

<section>
	<h3>Plug-in Eclipse</h3>
	<p>
		Roboconf a aussi son propre plug-in Eclipse.<br />
		Il fournit un assistant de création et des éditeurs dédiés.
	</p>

	<img src="../../resources/img/eclipse-editor.jpg" alt="Editeur Eclipse" class="no-border too-big" />
</section>
