/* Global Properties */

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.button {
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid #d5dce0 1px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	padding: 6px 19px;
}

.button a, .button a:hover {
	color: inherit;
	text-decoration: none;
}

.clear {
	clear: both;
}

.info-main {
	font-size: 1.4em;
	color: #ff0000;
}

.info-main a:hover {
	text-decoration: underline;
}

.info-details {
	font-size: 1.0em;
}

/* Index */
#first-index {
	text-align: center;
	padding-top: 8em;
}

#first-index #logo {
	margin-bottom: 1em;
}

#first-index a {
	text-decoration: none;
}

#first-index a:hover {
	text-decoration: underline;
}

#first-index ul {
	list-style: none;
	margin-top: 1em;
	text-align: left;
	margin-left: 47%;
}

#first-index li {
	margin-top: 0.2em;
}

#first-index ul img {
	margin-right: 5px;
}

/* Welcome Page */

#welcome-dl {
	position: absolute;
	right: 15%;
	top: 7%;
}

#welcome-dl p {
	margin: 0;
	text-align: center;
}

#welcome-logo {
	padding-top: 16%; /* 6% when there is an effective logo */
	text-align: center;
}

#welcome-separator {
	height: 5px;
	background-color: #ff0000;
	margin-bottom: 4em;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

#welcome-ep {
	margin: 0 auto;
	text-align: center;
}

.welcome-desc {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 2em;
}

.index-ep {
	font-size: 1.7em;
	margin-left: 2em;
}

/* Both Welcome and Top Menu */

.ep {
	background-color: white;
	color: #ff0000;
}

.ep span.glyphicon {
	padding-left: 7px;
	color: black;
}

.ep:hover, .ep:hover span, .ep-selected {
	background-color: #ff0000 !important;
	border-bottom: solid #ff0000 2px;
	color: white;
	text-decoration: none;
}

.ep-selected:hover {
	background-color: #ff0000 !important;
	border-bottom: solid #ff0000 2px;
	color: white;
	text-decoration: underline !important;
}

.ep > .caret {
	border-top-color: transparent;
	border-bottom-color: transparent;
}

/* Top Menu */

#header-img {
	height: 40px;
	margin: 7px 10px 5px 22px;
}

.dd-lang {
	padding-right: 15px;
}

img.flag {
	margin-bottom: 2px;
	margin-right: 4px;
}

.navbar-rbcf {
	border-bottom: solid #ff0000 3px;
	margin: 0 0 28px 0;
}

.navbar-rbcf li.active {
	background-color: #ff0000 !important;
	border-bottom: solid #ff0000 2px;
	color: white !important;
}

.little {
	font-size: 5px;
	vertical-align: middle;
	padding-left: 4px !important;
}

.dropdown-toggle {
	border-color: transparent !important;
}

.dropdown-menu > li > a:hover {
	background-color: #ff0000 !important;
	color: white !important;
}

/* Left Menu */

.menu {
	position: fixed;
	left: 22px;
	width: 170px;
}

.menu li {
	color: black;
}

.menu > ul {
	list-style: none;
}

.menu > ul > li > a {
	position: relative;
	display: block;
	padding: 7px 0 7px 10px;
}

.menu li:hover {
	border-right: solid #ff0000 3px;
	color: #ff0000;
}

.menu a, .menu a:active, .menu a:hover {
	color: inherit;
	text-decoration: none;
}

.menu li.active {
	border-right: solid #ff0000 3px;
	font-weight: bold;
}

/* Other Pages */

.content {
	margin-left: 250px;
	margin-right: 24px;
	margin-bottom: 4em;
}

.content a, .content a:hover {
	color: #ff0000;
}

.content h1 {
	font-size: 2.4em;
	font-weight: bold;
}

.content h2 {
	font-size: 1.7em;
	font-weight: bold;
	margin-top: 20px;
}

.content h3 {
	font-size: 1.1em;
	font-weight: normal;
	margin: 2px 0 14px 0;
}

.content ul {
	list-style-type: square;
	padding-left: 40px;
}

/* Twitter */

#twitter-widget-0 {
 	width: 80%;
}
